// Bg colors
$elementBgColorPrimary: #454545;
$elementBgColorSecondary: #585858;



// Text colors
$textColorPrimary: #f2f2f2;

// Common colors
$colorWhite: #e2e2e2;

// Font-size
$fontSizeS: 14px;
$fontSizeM: 16px;
$fontSizeL: 18px;
