@import '../../constants/scss/variables.scss';

.Block {
  height: auto;
  width: 100%;
  box-sizing: border-box;

  &_noContent {
    border: 5px dashed gray;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100px;
  }
}

.Block__Label {
  font-weight: 700;
  color: $textColorPrimary;
  font-size: $fontSizeL;
  opacity: 0.8;
}
