@import '../../constants/scss/variables.scss';

.TwoHierarchy {
  background-color: $elementBgColorSecondary;
  height: 100%;
  flex-direction: column;
  flex-grow: 1;
}


.TwoHierarchy__Block {
  border-top: 10px solid $colorWhite;
}
