@import './constants/scss/variables.scss';

.App {
  background-color: $elementBgColorSecondary;
  height: 100%;
}


.App__SecondBlock {
  height: auto;
  border-top: 10px solid $colorWhite;
  min-height: 100px;
  width: 100%;
}
