@import './constants/scss/variables.scss';

.App {
  background-color: $elementBgColorSecondary;
  height: 100%;
  flex-direction: column;
  flex-grow: 1;
}


.App__SecondBlock {
  min-width: 100px;
  height: 100%;
  border-top: 10px solid $colorWhite;
  width: 100%;
}
